.whyus {
    padding-top: 100px;
    padding-bottom: 20px;
}

.whyus h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.whyus p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}

.why h3 {
    margin: 15px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}   

.whyus .container .poinmengapa {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.why {
    padding: 24px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    margin: auto;
}

@media (max-width:540px) {
    
    .whyus {
        padding-bottom: 40px;
    }

    .mengapa p, .mengapa h2 {
        text-align: center;
    }

    .why {
    margin: 8px;
    }
}

@media (max-width:996px) {
    .why {
        margin: 16px;
    }
    .whyus {
        padding-top: 10px;
        padding-bottom: 30px    ;
    }

}
