.sewamobil {
    padding-top: 100px;
    padding-bottom: 20px;
}

.sewa {
    background-color: #0D28A6;
    color: #FFFFFF;
    border-radius: 13px;
    padding: 68px 40px;
}

.sewa h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 16px;
}

.sewa p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}

.sewa a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.sewa .btn {
    background-color: #5CB85F;
    align-items: center;
    width: 140px;
    height: 36px;
    justify-content: center;
    border-radius: 2px;
    border: none;
    padding: 8px 12px;
}

@media (max-width:540px) {
    .sewamobil {
        padding-top: 20px;
        padding-bottom: 40px;
    }

}