.faq {
    padding-top: 100px;
    padding-bottom: 10px;
}


.faqtext h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.faqtext p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}

@media (max-width:540px) {
    .faq {
        padding-top:20px;
        padding-bottom: 20px;
    }
    
    
    .accordioncomponent{
        padding-top: 40px;
    }
    .faqtext h2, .faqtext p {
        text-align: center;
    }
    
    
}