.hero {
    max-width: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 25px;
    background-color: #F1F3FF;
    
}

.hero-kiri {
    padding-top: 40px;
}

.hero-kanan img{
    width: 100%;
}

.hero-kanan {
    display: flex;
    max-width: w;
}

.hero-kiri h1 {
    font-weight: 700;
font-size: 36px;
line-height: 150%;
margin-bottom: 16px;
}

.hero-kiri p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px ;
}

.hero-kiri .btn {
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    background-color: #5CB85F;
    align-items: center;
    height: 36px;
    border-radius: 2px;
    justify-content: center;
}

.btn.btn-active {
    display: none !important;
}


@media (max-width:540px){
    .hero {
        padding-top: 35px;
    }

    .hero-kiri .btn {
        margin-bottom: 24px;
    }
    .heroimage{
        max-width: 100%;

    }
}